.parentDiv {
  display: flex;
  background-color: rgb(92, 72, 163);
  min-height: 100vh;
}

/*START-QUESTION CONTENT*/
.questionContentParentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 2% 5%;
  min-height: min(80vh, 600px);
  background-color: whitesmoke;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.questionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}

.questionContentBtnParentDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.questionContentBtnParentDiv button {
  padding-inline: 10px;
  border-radius: 20px;
}
/*END-QUESTION CONTENT*/

/*START-ANSWER CONTENT*/

.answerContentParentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding-inline: 10px;
}

.answerContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.answerContent .answer {
  padding-inline: 5vw;
  padding-block: 10px;
  border-radius: 10px;
  margin-block: 10px;
  text-align: center;
}

.answerContentBtnParentDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 20px;
}

.answerContentBtnParentDiv button {
  min-width: 30%;
  border-radius: 20px;
}

/*END-ANSWER CONTENT*/

/*SMALL*/
@media screen and (max-width: 768px) {
  .parentDiv {
    display: flex;
    flex-direction: column;
  }

  /*START-QUESTION CONTENT*/
  .questionContentParentDiv {
    width: 100%;
    border-radius: 30px;
    padding-block: 7%;
  }

  .questionContent {
    align-items: center;
    margin: 0;
  }

  /*END-QUESTION CONTENT*/

  /*START-ANSWER CONTENT*/

  .answerContentParentDiv {
    width: 100%;
  }

  .answerContent {
    margin-top: 20px;
  }

  .answerContentBtnParentDiv {
    padding-block: 20px;
  }

  .answerContentBtnParentDiv button {
    min-width: 25%;
  }

  /*END-ANSWER CONTENT*/
}
